* {
  box-sizing: border-box;
}
li {
  list-style: none;
  border: 1px solid rgb(124, 124, 124);
}

p {
  height: 14px;
  font-size: 10px;
  line-height: 15px;
  margin: 2px;
}
.header {
  width: 100%;
  text-align: center;
}
.list {
  display: flex;
  margin-top: 30px;
}
.list-item {
  text-align: center;
  width: 33.33%;
  border: 1px solid rgb(56, 56, 56);
}
li:first-child {
  margin-left: -40px;
}
.block-item {
  border: 1px solid lightgrey;
  text-align: left;
}
h3 {
  margin: 20px auto;
}
h1 {
  margin-bottom: 0px;
}

h2 {
  margin: 10px 0;
}
h5 {
  margin: 5px;
}
